:root {
  --first-color: #474448;
  --second-color: #2d232e;
  --third-color: #e0ddcf;
  --fourth-color: #FFDE00;
}

html,
body {
  min-height: 100%;
}

body {
  margin: 0;
  padding: 0;
  font-weight: 600;
  line-height: 1.5;
  font-size: 18px;
  letter-spacing: .1em;
  color: var(--second-color);
  background-color: var(--third-color);
  font-family: Helvetica, Arial, sans-serif;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

a {
  color: var(--first-color);
  text-decoration: none;
  font-weight: bold;
}

a:hover {
  text-decoration: none;
}

.navbar {
  padding: 20px 35px;
  background-color: var(--third-color);
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  background-image: url('../src/assets/computer-photo.jpeg');
  top: 0;
  background-size: cover;
  background-attachment: scroll;
  background-position: 100%;
  z-index: 9999;
}

.navbar a {
  color: var(--third-color);
  text-decoration: none;
}

.navbar-row {
  display: content;
}

.about{
  background-color: var(--second-color);
}

.about h1, p {
  color: var(--third-color);
}

.portfolio{
  padding: 50px;
  text-decoration: none;
}

.portfolio-list {
  text-align: center;
}

.portfolio-list div{
  padding: 100px;
}

#portfolio a {
    color: var(--fourth-color);
    background-color: var(--third-color);
    text-shadow: 0 0 10px rgba(0, 0, 2, 2);
    text-decoration: none;
    font-weight: bold;
}

.portfolio-1 {
  padding: 50px 100px;
  background-color: var(--third-color);
  text-shadow: 0 0 10px rgba(0, 0, 0, 2);
  background-image: url('../src/assets/pet-beauty.jpg');
  background-size: cover !important;
  background-position: top !important;
}

.portfolio-2 {
  padding: 50px 100px;
  background-color: var(--third-color);
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  background-image: url('../src/assets/walk-in-the-park.jpg');
  background-size: cover !important;
  background-position: top !important;
}

.portfolio-3 {
  padding: 50px 100px;
  background-color: var(--third-color);
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  background-image: url('../src/assets/calculator.jpg');
  background-size: cover !important;
  background-position: top !important;
}

.portfolio-4 {
  padding: 50px 100px;
  background-color: var(--third-color);
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  background-image: url('../src/assets/social-routes.jpg');
  background-size: cover !important;
  background-position: top !important;
}

.portfolio-5 {
  padding: 50px 100px;
  background-color: var(--third-color);
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  background-image: url('../src/assets/employee-tracker.jpeg');
  background-size: cover !important;
  background-position: top !important;
}

.portfolio-6 {
  padding: 50px 100px;
  background-color: var(--third-color);
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  background-image: url('../src/assets/Password-Generator.jpg');
  background-size: cover !important;
  background-position: top !important;
}

#contact {
  color: burlywood;
  background-color: var(--first-color);
}

.footer {
  color: burlywood;
  background-color: var(--first-color);
  border: 2px solid var(--third-color);
  padding-bottom: 50px;
}

.footer a {
  padding-left: 100px;
  color: var(--third-color);
  text-decoration: none;
  font-weight: bold;
}